<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>jQuery Mobile :  Flip Switches </title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0;">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-2.1.3.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js"></script>
</head>
<body>
<div data-role="page" id="demoPage">

    <div data-role="header">  <!-- Header  -->
        <h1>jQuery Mobile :  Flip Switches </h1>
    </div>

    <div data-role="content">

        <fieldset>   <!-- FlipSwitch using Checkbox -->
            <div data-role="fieldcontain">
                <label for="check_flip">Flip(Checkbox):</label>
                <input type="checkbox" id="check_flip" data-role="flipswitch">
            </div>
        </fieldset>


        <fieldset>  <!-- FlipSwitch using Select -->
            <div data-role="fieldcontain">
                <label for="check_flip">Flip(Select):</label>

                <select id="check_flip" data-role="flipswitch">
                    <option value="day">AM</option>
                    <option value="night">PM</option>
                </select>
            </div>
        </fieldset>

        <small>Flip the Switches to Change Values </small>
    </div>


    <div data-role="footer"> <!-- footer -->
        <h3>Flip Switches</h3>
    </div>
</div>
</body>
</html>