<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

 	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Flot Examples: Thresholds</title>
	<link href="css/graph.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<script language="javascript" type="text/javascript" src="js/flot.js"></script>
	<script language="javascript" type="text/javascript" src="js/flot.threshold.js"></script>
	<script type="text/javascript">

	$(document).ready(function(){
	    graph();

        function graph(){
            interval = 1 * 1000;
            setInterval(display_graph, interval);
        };

        function display_graph(){
            var d1 = [],
                d2 = [];
            for (var i = 0; i <= 60; i += 1) {
                d1.push([i, parseInt(Math.random() * 30 - 10)]);
                d2.push([i, parseInt(Math.random() * 30 - 10)]);
            }

            $.plot($("#placeholder"), [{
                data: d1,
                threshold: {
                    below: 5,
                    color: "rgb(200, 20, 30)"
                }},
            {
                data: d2,
                threshold: {
                    below: -5,
                    color: "rgb(250, 0, 0)"
                }}], {
                grid: {
                    hoverable: true,
                    borderWidth: 1,
                },
                colors: ["rgb(44,55,66)", "rgb(90,2,100)"]
            });
        };
    });

	</script>
</head>
<body>

<div id="header">
    <h2>Real-time updates</h2>
</div>

<div id="content">

    <div class="demo-container">
        <div id="placeholder" class="demo-placeholder"></div>
    </div>

    <p>You can update a chart periodically to get a real-time effect by using a timer to insert the new data in the plot and redraw it.</p>

    <p>Time between updates: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>

</div>

<div id="footer">
    Copyright &copy; 2007 - 2014 IOLA and Ole Laursen
</div>

</body>
</html>
