<html>
<head>
    <link rel="stylesheet" type="text/css" href="ext/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="ext/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="ext/easyui/demo.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="ext/easyui/query.min.js"></script>
    <script type="text/javascript" src="ext/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>


</head>
<body>
<input id="aux1_toggle" style="width:100px;height:30px">

<div id="aux1">aux1</div>

</body>
</html>
