<html>
<head>
    <link rel="stylesheet" type="text/css" href="ext/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="ext/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="ext/easyui/demo.css">

    <link rel="stylesheet" type="text/css" href="ext/envui.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="ext/easyui/query.min.js"></script>
    <script type="text/javascript" src="ext/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>


</head>
<body>

<div id="aux1_state"></div>
<table>
    <th>Temperature</th>
    <th>Humidity</th>
    <tr>
        <td><div class="data" id="temp"></div></td>
        <td><div class="data" id="humidity"></div></td>
    </tr>
    <tr>
        <td><input id="aux1" class="button" style="width:100px;height:30px"></td>
        <td><input id="aux2" class="button" style="width:100px;height:30px"></td>
    </tr>
</table>
</body>
</html>
