<html>


<body>

<div id="menu_header"></div>

<div class="top_row">
    <!-- Temperature -->

    <table class="side_by_side_1">
        <th colspan="2" align="center"><font size="5">Temperature</font></th>
        <tr>
            <td colspan="2"><canvas id="temp_chart" width="600" height="200"></canvas></td>
        </tr>
    </table>

     <!-- Humidity -->

    <table class="side_by_side_1">
        <th colspan="2" align="center"><font size="5">Humidity</font></th>
        <tr>
            <td colspan="2"><canvas id="humidity_chart" width="600" height="200"></canvas></td>
        </tr>
    </table>
</div>

</body>
</html>