<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/switch2.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="js/tmpl.js"></script>
    <script type="text/javascript" src="js/widget.js"></script>
    <script type="text/javascript" src="js/switch2.js"></script>
    <script type="text/javascript" src="js/test.js"></script>
</head>
<body>
<form>
<input type="checkbox" id="aux1" class="button">

    </form>
</body>
</html>
