<html>

<head>
    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.1.12.1.js"></script>
    <script src="js/Chart.bundle.js"></script>
    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
</head>

<body>

<div id="menu_header"></div>

<!-- Temperature -->

<div class="drag" id="temp_widget">
    <table class="side_by_side_1">
        <th colspan="2" align="center"><font size="5">Temperature</font></th>
        <tr>
            <td style="text-align: center;"><font size="5"><div class="data" id="temp"></div></font></td>
        </tr>
        <tr>
            <td style="text-align: center;"><input id="aux1" class="button" style="width:120px;height:30px"></td>
        </tr>
        <tr>
            <td colspan="2"><canvas id="temp_chart" width="600" height="200"></canvas></td>
        </tr>
    </table>
</div>

<!-- Humidity -->

<div class="drag" id="humidity_widget">
    <table class="side_by_side_1">
        <th colspan="2" align="center"><font size="5">Humidity</font></th>
        <tr>
            <td style="text-align: center;"><font size="5"><div class="data" id="humidity"></div></font></td>
        </tr>
        <tr>
            <td style="text-align: center;"><input id="aux2" class="button" style="width:120px;height:30px"></td>
        </tr>
        <tr>
            <td colspan="2"><canvas id="humidity_chart" width="600" height="200"></canvas></td>
        </tr>
    </table>
</div>

<br><br>

<!-- Light -->

<div class="light" style="width:1200px" align="center"><font size="5"><b>Light</b></font></div>

<br>

<table class="light" width="100%">
    <th><font size="3">Status</font></th>
    <th><font size="3">Lights On</font></th>
    <th><font size="3">Hours Per Day</font></th>
    <tr>
        <td><input id="aux3" class="button" style="width:120px;height:30px"></td>
        <td><div id="light_on_at"></div></td>
        <td><div id="light_on_hours"></div></td>
    </tr>
</table>

<br><br>

<!-- Water tanks -->

<table class="water">
    <th class="opt_aux3"><font size="5">Water #1</font></th>
    <th class="opt_aux4"><font size="5">Water #2</font></th>
    <tr>
        <td class="opt_aux3" width="600"><input id="aux3" class="button" style="width:120px;height:30px"></td>
        <td class="opt_aux4" width="600"><input id="aux4" class="button" style="width:120px;height:30px"></td>
    </tr>
</table>

<br><br>
</body>
</html>
