<html>
<head>

    <link rel="stylesheet" type="text/css" href="css/button.css">
    <link rel="stylesheet" type="text/css" href="css/envui.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.js"></script>

    <!--<script type="text/javascript" src="ext/easyui/query.min.js"></script>-->
    <!--<script type="text/javascript" src="Chart.js"></script>-->

    <script type="text/javascript" src="js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>


</head>
<body>
<table width="100%">
    <tr><td width="90%" style="white-space: nowrap;" >

    <div class="menuBackground">
	<div class="center myMenu">
		<ul class="dropDownMenu">
			<li><a href="http://html-tuts.com/?p=9961">Home</a></li>
			<li><a href="http://html-tuts.com/?p=9961">Web Design</a>
				<ul>
					<li><a href="http://html-tuts.com/?p=9961">HTML</a></li>
					<li><a href="http://html-tuts.com/?p=9961">CSS</a></li>
					<li><a href="http://html-tuts.com/?p=9961">JS</a></li>
				</ul>
			</li>
			<li><a href="http://html-tuts.com/?p=9961">Programming</a>
				<ul>
					<li><a href="http://html-tuts.com/?p=9961">C++</a></li>
					<li><a href="http://html-tuts.com/?p=9961">WordPress</a>
						<ul>
							<li><a href="http://html-tuts.com/?p=9961">Hacks</a></li>
							<li><a href="http://html-tuts.com/?p=9961">Plugins</a></li>
							<li><a href="http://html-tuts.com/?p=9961">Shortcodes</a></li>
						</ul>
					</li>
					<li><a href="http://html-tuts.com/?p=9961">PHP</a></li>
					<li><a href="http://html-tuts.com/?p=9961">jQuery</a></li>
				</ul>
			</li>
			<li><a href="http://html-tuts.com/?p=9961">Resources</a>
				<ul>
					<li><a href="http://html-tuts.com/?p=9961">Icons</a></li>
					<li><a href="http://html-tuts.com/?p=9961">Fonts</a></li>
					<li><a href="http://html-tuts.com/?p=9961">Wallpapers</a></li>
				</ul>
            </li>
		</ul>
	</div>
    </div>
        </td>
        <td><div id="time">blah</div></td>
    </tr>
</table>

<div class="top_row">
    <!-- Temperature -->

    <table class="side_by_side_1">
        <th colspan="2" align="center"><font size="5">Temperature</font></th>
        <tr>
            <td style="text-align: center;"><font size="5"><div class="data" id="temp"></div></font></td>
        </tr>
        <tr>
            <td style="text-align: center;"><input id="aux1" class="button" style="width:120px;height:30px"></td>
        </tr>
        <tr>
            <td colspan="2"><canvas id="temp_chart" width="600" height="200"></canvas></td>
        </tr>
    </table>

     <!-- Humidity -->

    <table class="side_by_side_1">
        <th colspan="2" align="center"><font size="5">Humidity</font></th>
        <tr>
            <td style="text-align: center;"><font size="5"><div class="data" id="humidity"></div></font></td>
        </tr>
        <tr>
            <td style="text-align: center;"><input id="aux2" class="button" style="width:120px;height:30px"></td>
        </tr>
        <tr>
            <td colspan="2"><canvas id="humidity_chart" width="600" height="200"></canvas></td>
        </tr>
    </table>
</div>

<br><br>

<!-- Light -->

<div class="light" style="width:1200px" align="center"><font size="5"><b>Light</b></font></div>

<br><br>

<table class="light" width="1200">
    <th><font size="3">Status</font></th>
    <th><font size="3">Lights On</font></th>
    <th><font size="3">Hours Per Day</font></th>
    <th><font size="3">Next On</font></th>
    <tr>
        <td><input id="aux3" class="button" style="width:120px;height:30px"></td>
        <td><div id="light_on_at"></div></td>
        <td><div id="light_on_hours"></div></td>
        <td><div id="light_on_in"></div></td>
    </tr>
</table>

<br><br>

<!-- Water tanks -->

<table class="water">
    <th class="opt_aux3"><font size="5">Water #1</font></th>
    <th class="opt_aux4"><font size="5">Water #2</font></th>
    <tr>
        <td class="opt_aux3" width="600"><input id="aux3" class="button" style="width:120px;height:30px"></td>
        <td class="opt_aux4" width="600"><input id="aux4" class="button" style="width:120px;height:30px"></td>
    </tr>
</table>

<br><br>
</body>
</html>
