/* main menu */

#time {
	padding: 10px 20px;
	background: #c0c0c0;
	color: #FFF;
}
.menuBackground {
	background: #c0c0c0;
	text-align: left;
}
.dropDownMenu a {
	color: #FFF;
}

.dropDownMenu,
.dropDownMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropDownMenu li {
	position: relative;
}
.dropDownMenu a {
	padding: 10px 20px;
	display: block;
	text-decoration: none;
}
.dropDownMenu a:hover {
	background: #c0c0c0;
}

/* Level 1 Drop Down */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}

.dropDownMenu > li:first-child {
	margin-left: 0;
}

/* Level 2 */
.dropDownMenu ul {
	box-shadow: 2px 2px 15px 0 rgba(0,0,0, 0.5);
}
.dropDownMenu > li > ul {
	text-align: left;
	display: none;
	background: #c0c0c0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 240px;
	z-index: 999999;
}

/* Level 3 */
.dropDownMenu > li > ul > li > ul {
	text-align: left;
	display: none;
	background: darkcyan;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 9999999;
}

th {
    align: center;
    text-align: center;
}
td {
    align: center;
    text-align: center;
}
.side_by_side_1 {
    display: inline-block;
}
.top_row {
    valign: center;
    align: center;
}
